<nav>
  <div class="nav-container">
    <section class="social">
      <a href="https://twitter.com/Bradical_J" target="_blank"><img src="https://bradj.me/assets/images/twitter.png" alt=""></a>
    </section>
    <ul>
      {{#foreach navigation}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">
          <a href="{{url absolute="true"}}" class="animsition-link">{{label}}</a>
        </li>
      {{/foreach}}
    </ul>
  </div>
  <progress value="0" id="progressBar">
    <div class="progress-container">
      <span class="progress-bar"></span>
    </div>
  </progress>
</nav>
